/* ==================== *\
   - Buttons
\* ==================== */

.button {
    display: inline-block;
    padding: 0 10px;
    height: 45px;
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 1em;
    font-family: "helvetica neue", helvetica, sans-serif;
    line-height: 45px;
    -webkit-transition: opacity 0.3s, box-shadow 0.1s;
    -moz-transition: opacity 0.3s, box-shadow 0.1s;
    -o-transition: opacity 0.3s, box-shadow 0.1s;
    transition: opacity 0.3s, box-shadow 0.1s;
}

.default,
.basic,
.square,
.circle,
.depth,
.glass,
.plastic {
    color: #ffffff;
}

.default,
.basic,
.minimal,
.depth,
.glass,
.plastic {
    border-radius: 2px;
}

.default,
.basic,
.square,
.circle,
.minimal,
.glass,
.plastic {
    border: 1px solid #3972b9;
    background-color: #3972b9;
}

.default {
    background-color: #3972b9;
    box-shadow: 0 1px 0 rgba(255,255,255, 0.3) inset;
}

.circle {
    border-radius: 5px;
}

.minimal {
    background-color: #ffffff;
    color: #3972b9;
}

.depth {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #22518b;
    background-color: #3972b9;
    box-shadow: 0 2px 0 rgba(255,255,255, 0.3) inset,
                0 -1px 0 rgba(255,255,255, 0.1) inset;
}

.glass {
    box-shadow: 0 24px 0 rgba(255,255,255,0.15) inset;
}

.small.glass {
    box-shadow: 0 16px 0 rgba(255,255,255,0.15) inset;
}

.large.glass {
    box-shadow: 0 30px 0 rgba(255,255,255,0.15) inset;
}

.plastic {
    background: -moz-linear-gradient(top,  #75a6e3 0%, #3972b9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75a6e3), color-stop(100%,#3972b9));
    background: -webkit-linear-gradient(top,  #75a6e3 0%,#3972b9 100%);
    background: -o-linear-gradient(top,  #75a6e3 0%,#3972b9 100%);
    background: -ms-linear-gradient(top,  #75a6e3 0%,#3972b9 100%);
    background: linear-gradient(top bottom,  #75a6e3 0%,#3972b9 100%);
}

/* colors */

.default.blue,
.basic.blue,
.square.blue,
.circle.blue,
.glass.blue,
.plastic.blue {
    border: 1px solid #3972b9;
    background-color: #3972b9;
}
.default.red,
.basic.red,
.square.red,
.circle.red,
.glass.red,
.plastic.red {
    border: 1px solid #e75656;
    background-color: #e75656;
}
.default.green,
.basic.green,
.square.green,
.circle.green,
.glass.green,
.plastic.green {
    border: 1px solid #66a750;
    background-color: #66a750;
}
.default.yellow,
.basic.yellow,
.square.yellow,
.circle.yellow,
.glass.yellow,
.plastic.yellow {
    border: 1px solid #eab160;
    background-color: #eab160;
}

.minimal.blue {
    border: 1px solid #3972b9;
    color: #3972b9;
}
.minimal.red {
    border: 1px solid #e75656;
    color: #e75656;
}
.minimal.green {
    border: 1px solid #66a750;
    color: #66a750;
}
.minimal.yellow {
    border: 1px solid #eab160;
    color: #eab160;
}

.depth.blue {
    border-bottom-color: #22518b;
    background-color: #3972b9;
}
.depth.red {
    border-bottom-color: #bb2e2e;
    background-color: #e75656;
}
.depth.green {
    border-bottom-color: #407b2b;
    background-color: #66a750;
}
.depth.yellow {
    border-bottom-color: #be8739;
    background-color: #eab160;
}

.plastic.blue {
    background: -moz-linear-gradient(top,  #75a6e3 0%, #3972b9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75a6e3), color-stop(100%,#3972b9));
    background: -webkit-linear-gradient(top,  #75a6e3 0%,#3972b9 100%);
    background: -o-linear-gradient(top,  #75a6e3 0%,#3972b9 100%);
    background: -ms-linear-gradient(top,  #75a6e3 0%,#3972b9 100%);
    background: linear-gradient(top bottom,  #75a6e3 0%,#3972b9 100%);
}
.plastic.red {
    background: -moz-linear-gradient(top,  #f59898 0%, #e75656 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f59898), color-stop(100%,#e75656));
    background: -webkit-linear-gradient(top,  #f59898 0%,#e75656 100%);
    background: -o-linear-gradient(top,  #f59898 0%,#e75656 100%);
    background: -ms-linear-gradient(top,  #f59898 0%,#e75656 100%);
    background: linear-gradient(top bottom,  #f59898 0%,#e75656 100%);
}
.plastic.green {
    background: -moz-linear-gradient(top,  #8dcf77 0%, #66a750 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8dcf77), color-stop(100%,#66a750));
    background: -webkit-linear-gradient(top,  #8dcf77 0%,#66a750 100%);
    background: -o-linear-gradient(top,  #8dcf77 0%,#66a750 100%);
    background: -ms-linear-gradient(top,  #8dcf77 0%,#66a750 100%);
    background: linear-gradient(top bottom,  #8dcf77 0%,#66a750 100%);
}
.plastic.yellow {
    background: -moz-linear-gradient(top,  #efce9f 0%, #edbd78 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efce9f), color-stop(100%,#edbd78));
    background: -webkit-linear-gradient(top,  #efce9f 0%,#edbd78 100%);
    background: -o-linear-gradient(top,  #efce9f 0%,#edbd78 100%);
    background: -ms-linear-gradient(top,  #efce9f 0%,#edbd78 100%);
    background: linear-gradient(top bottom,  #efce9f 0%,#edbd78 100%);
}

/* Hover State */

.button:hover:not(:active) {
    opacity: 0.8;
}

.button:active {
    box-shadow: 0 5px 20px -5px #000 inset;
}

/* Sizes */

.button.small {
    height: 30px;
    font-size: 0.85714285714285714285714285714286em;
    line-height: 30px;
}

.button.large {
    height: 60px;
    font-size: 1.2857142857142857142857142857143em;
    line-height: 60px;
}